@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

.body {
    min-height: 100vh;
    padding: 2rem;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

.section {
    padding: 0 32px;
}

.main {
    margin-bottom: 96px;
}

.a {
    text-decoration: none;
}


.li {
  list-style-type: none;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

.img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
}

.ol, ul, menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 2px;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
}


.nav__row {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 48px;
    margin-right: 0.75rem ;
    width: 2.5rem;
}

.logo__name{
    font-weight: 900;
    font-size: 1.5rem;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 2px;
}
.nav__links {
    display: flex;
    flex-direction: row;
    margin: 0px 1.5rem;
    gap: 48px;
    font-weight: 400;
    font-size: 18px;
}

.nav__link:hover {
    color: rgb(100, 21, 255);
    text-decoration: underline;
}


.nav__link--sign__up {
    border-bottom-width: 0px;
    opacity: 1;
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 12px 32px;
    border-radius: 9999px;
    text-decoration: none;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 100%;
}

.header {
    font-weight: 700;
    line-height: 1.25;
    color: rgb(26, 32, 44);
    flex-direction: column;
    width: 40%;
}

.para {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input__mail {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.input__mail input {
    width: 40%;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 100%;
    border-color: rgb(226, 232, 240);
    border-style: solid;
}

.get__started {
    top: 0px;
    right: 60%;
    bottom: 0px;    
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    font-size: 100%;
    background-color: rgb(100, 21, 255);
    color: white;
    border-style: none;
    position: absolute;
}

.customers {
    margin-top: 3rem;
}

.customers p {
    font-size: 0.775rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(160, 174, 195);
}

.customers img {
    margin-top: 1rem;
    width: 40%;
    opacity: 0.5;
}

.templates__illustration {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.templates__illustration img {
    width: 100%;
    max-width: 32rem;
    min-width: 0px;
    height: auto;
    margin-top: 1.25rem;
    vertical-align: middle;
    position: absolute;
    flex-direction: column;
    margin-bottom: 20%;
}



/* 

FEATURES ↓

*/


#features {
    position: relative;
}

.container {
    padding: 80px 0;
}

#features .row__narrow {
   margin-left: auto;
   margin-right: auto;
   display: flex;
   max-width: 1024px;
   flex-flow: column wrap;
   align-items: center;
   padding-top: 5rem;
   padding-bottom: 5rem;
}

.features__heading {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 20px;
}

.features__title {
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.025em;
    font-size: 54px;
}

.features__subtitle {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    max-width: 36rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124, 139, 161);
}
.features__cards {
   display: flex;
   flex-wrap: wrap;
    
}

.features__card {
   display: flex;
   width: calc(100%/3);
   height: 60%;
   padding: 12px;
}

.image__container {
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
}

.features__card--icon {
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}

.features__card--title {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.025em;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.features__card--subtitle {
    margin-top: 0.25rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(124, 139, 161);
    font-size: 16px;
    padding-top: 10px;
}

/* 

QUALITY WORK ↓

*/

.container {
    position: relative;
}


#quality .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

.quality__header {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.quality__title {
    margin-top: 1rem;
    text-align: left;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.quality__info {
    margin-top: 1rem;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124, 139, 161);
    width: 40%;
}

.learn__more--button {
    margin-top: 2rem;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding: 0.75rem 2rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-duration: 300ms ease;
    border-style: hidden;
}

.quality__img {
    width: 100%;
    max-width: 32rem;
    min-width: 0px;
    height: auto;
    vertical-align: middle;
    margin-left: 50%;
    flex-direction: column;
    margin-bottom: 50px;
    position: absolute;
    margin-top: -28%;
    border-radius: 0.25rem;
    border-width: 1px;
}




/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.steps__img {
    width: 50%;
    height: auto;
    border-radius: 0.25rem;
}

.steps__colum {
    margin-left: auto;
    width: 100%;
    max-width: 43rem;
    
}
.steps__colum--container {
    margin-top: -34%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.steps__sub {
    font-weight: 700;
    letter-spacing: 0.1rem;
    position: absolute;
}

.steps__header {
    margin-top: 2.5rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.25;
    position: absolute;
}

.steps__list {
    margin-top: 5rem;
}

.step {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.step__number {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    color: rgb(203, 213, 224);
    display: flex;
}

.step__text {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 1.5rem;
}

.step__heading {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    margin-top: 0.75rem;
    max-width: 20rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(113, 128, 150);
}

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}