@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

.body {
    min-height: 100vh;
    padding: 2rem;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

.section {
    padding: 0 32px;
}

.main {
    margin-bottom: 96px;
}

.a {
    text-decoration: none;
}


.li {
  list-style-type: none;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

.img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
}

.ol, ul, menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 2px;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
}


.nav__row {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    height: 48px;
    margin-right: 0.75rem ;
    width: 2.5rem;
}

.logo__name{
    font-weight: 900;
    font-size: 1.5rem;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 2px;
}
.nav__links {
    display: flex;
    flex-direction: row;
    margin: 0px 1.5rem;
    gap: 48px;
    font-weight: 400;
    font-size: 18px;
}

.nav__link:hover {
    color: rgb(100, 21, 255);
    text-decoration: underline;
}


.nav__link--sign__up {
    border-bottom-width: 0px;
    opacity: 1;
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 12px 32px;
    border-radius: 9999px;
    text-decoration: none;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 100%;
}

.header {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    color: rgb(26, 32, 44);
    flex-direction: column;
    width: 40%;
}

.para {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input__mail {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.input__mail input {
    width: 40%;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 100%;
    border-color: rgb(226, 232, 240);
    border-style: solid;
}

.get__started {
    top: 0px;
    right: 60%;
    bottom: 0px;    
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    font-size: 100%;
    background-color: rgb(100, 21, 255);
    color: white;
    border-style: none;
    position: absolute;
}

.customers {
    margin-top: 3rem;
}

.customers p {
    font-size: 0.775rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(160, 174, 195);
}

.customers img {
    margin-top: 1rem;
    width: 40%;
    opacity: 0.5;
}

.templates__illustration {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.templates__illustration img {
    width: 60%;
    max-width: 48rem;
    margin-top: 1.25rem;
    position: absolute;
    margin-bottom: 28%;
    margin-right: 5%;
}



/* 

FEATURES ↓

*/


#features {
    position: relative;
}

.container {
    padding: 80px 0;
}

.row__narrow {
   margin-left: auto;
   margin-right: auto;
   display: flex;
   max-width: 1200px;
   width: 100%;
   flex-flow: column wrap;
   align-items: center;
   padding-top: 5rem;
   padding-bottom: 5rem;
}

.features__heading {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 20px;
}

.features__title {
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.025em;
    font-size: 54px;
}

.features__subtitle {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    max-width: 36rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124, 139, 161);
}
.features__cards {
   display: flex;
   flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.features__card {
   display: flex;
   width: calc(100%/3);
   height: 60%;
   padding: 12px;
}

.image__container {
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
}

.features__card--icon {
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}

.features__card--title {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.025em;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.features__card--subtitle {
    margin-top: 0.25rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(124, 139, 161);
    font-size: 16px;
    padding-top: 10px;
}

/* 

QUALITY WORK ↓

*/

.container {
    position: relative;
}


#quality .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

.quality__header {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.quality__title {
    margin-top: 1rem;
    text-align: left;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.quality__info {
    margin-top: 1rem;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124, 139, 161);
    width: 40%;
}

.learn__more--button {
    margin-top: 2rem;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding: 0.75rem 2rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-duration: 300ms ease;
    border-style: hidden;
}

.quality__img {
    width: 50%;
    max-width: 42rem;
    margin-left: 40%;
    position: absolute;
    margin-top: -28%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}




/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.steps__img {
    width: 50%;
    height: auto;
    border-radius: 0.25rem;
}

.steps__colum {
    margin-left: auto;
    width: 100%;
    max-width: 43rem;
    
}
.steps__colum--container {
    margin-top: -34%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.steps__sub {
    font-weight: 700;
    letter-spacing: 0.1rem;
    position: absolute;
}

.steps__header {
    margin-top: 2.5rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.25;
    position: absolute;
}

.steps__list {
    margin-top: 5rem;
}

.step {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.step__number {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    color: rgb(203, 213, 224);
    display: flex;
}

.step__text {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 1.6rem;
}

.step__heading {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(113, 128, 150);
}

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    
}

.values__header {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.values__title {
    margin-top: 1rem;
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.values__info {
    margin-top: 1rem;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124, 139, 161);
    width: 40%;
}

.values__features {
    margin-right: auto;
    display: flex;
    max-width: 1200px;
    width: 28%;
}

.affordable {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.afford__icon {
    background-color: rgb(154, 230, 180);
    color: rgb(39 103 73);
    border-radius: 50%;
    padding: 0.4rem;
}

.afford__title {
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    margin-left: 28%;
    margin-top: -16%;
}

.affordable__info {
    margin-top: 1.25rem;
    text-align: center;
    line-height: 1.225;
    color: rgb(113, 128, 150);
    display: flex;
    margin-left: 20;
    width: 200px;
    text-align: left;
}

.professionalism {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.profess__icon {
    background-color: rgb(254, 178, 178);
    color: rgb(155, 44, 44);
    border-radius: 50%;
    padding: 0.4rem;
    display: flex;
}

.profess__title {
    margin-left: 28%;
    margin-top: -16%;
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    position: relative;
}

.profess__info {
    margin-top: 1.25rem;
    text-align: center;
    line-height: 1.225;
    color: rgb(113, 128, 150);
    display: flex;
    flex-direction: row;
    width: 180px;
    text-align: left;
}

.values__img {
   width: 60%;
   margin-left: 48%;
   margin-top: -42%;
}

.learn__more {
    margin-top: 2rem;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding: 0.75rem 2rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-duration: 300ms ease;
    border-style: hidden;
}



/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.plans__title {
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.025em;
    width: 100%;
}

.plans__heading {
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.plans__info {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    max-width: 36rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124, 139, 161);
}
.plans__container {
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-align: stretch;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}
.plan__container {
    position: relative;
    margin-top: 2rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(26 32 44 / var(--tw-text-opacity));
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.plan__card--1 {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26, 32, 44);
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.plan__card--2 {
   position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
}

.plan__card--3 {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26, 32, 44);
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.plan__highlight {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__highlight--3 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__header {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plan__header--2 {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.name {
    font-size: 1.25rem;
    font-weight: 700;
}

.name__2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(247, 250, 252);
}

.price {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 2.25rem;
    font-weight: 700;
}

.price__2 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: rgb(247, 250, 252);
}

.duration {
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: rgb(160, 174, 192);
}

.duration__2 {
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: rgb(247, 250, 252);
}

.plan__features {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
    border-color: rgb(203, 213, 224);
    border-style: solid;
    border-right: hidden;
    border-left: hidden;
}

.plan__features--2 {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
    border-color: rgb(102, 126, 234);
    border-style: solid;
    border-right: hidden;
    border-left: hidden;
}

.feature__title {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.feature__title--2 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.025em;
    color: rgb(247, 250, 252);
}

.feature {
    margin-top: 1.25rem;
    font-weight: 500;
    color: rgb(113, 128, 150);
}

.feature__2 {
    margin-top: 1.25rem;
    font-weight: 500;
    color: rgb(247, 250, 252);
}

.plans__button {
    padding: 2rem 1rem;
}

.plan__button {
    width: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    font-weight: 700;
    color: rgb(247, 250, 252);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    border-style: hidden;
}

.plan__button--2 {
    width: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: rgb(247, 250, 252);
    font-weight: 700;
    color: rgb(100, 21, 255);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    border-style: hidden;
}

.plan__button--3 {
    width: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    font-weight: 700;
    color: rgb(247, 250, 252);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    border-style: hidden;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}